# Ignore eclipse files
.project
.cproject
.settings

# Ignore build files and folders
build
coverage/
.coverage.info
.sconsign.dblite
test_report

# Ignore downloaded cpputest
cpputest-3.8.tar.gz
cpputest-3.8
