image: felipelavratti/ubuntu-buildessentials-scons:16.04

stages:
  - build
  - test

job1:
  stage: build
  script:
    - scons -Q ./pq_projeto_tests/build/pq_projeto_dev_test

job2:
  stage: test
  script:
    - ./pq_projeto_tests/build/pq_projeto_dev_test -v -c
